<div class="contacts">
  <% if @contacts.present? %>
    <% @contacts.each do |contact| %>
      <div class="contacts__contact">
        <a href="<%= contact_path(contact.id) %>"><%= contact.email %></a>
      </div>
    <% end %>
  <% else %>
    <div class="contacts__empty">
      <p>No contacts yet.</p>
    </div>
  <% end %>
</div>
